extends ../main/dashboard

block module
    .col-lg-9
        #alerts.row
        #account-container.row.well(ng-controller="AccountController", ng-init="user.id = '#{user.id}'")
            form#account-form.col-lg-6(name='updateForm', ng-submit='updateAccount()')
                fieldset
                    legend Update Profile
                    .form-group
                        label First Name
                        input#firstName.form-control(type="text", ng-model='user.firstName', ng-init="user.firstName = '#{user.firstName}'", placeholder="First Name", required)
                    .form-group
                        label Last Name
                        input#lastName.form-control(type="text", ng-model='user.lastName', ng-init="user.lastName = '#{user.lastName}'", placeholder="Last Name", required)
                    .form-group
                        label Username
                        .input-group
                            span.input-group-addon @
                            input#username.form-control(type="text", ng-model='user.username', ng-init="user.username = '#{user.username}'", placeholder="Username", required)
                    .form-group
                        label Email
                        .input-group
                            span.input-group-addon
                                span.glyphicon.glyphicon-envelope
                            input#email.form-control(type="email", ng-model='user.email', ng-init="user.email = '#{user.email}'", placeholder="Email", required)
                    .form-group
                        label Location
                        .input-group
                            span.input-group-addon
                                span.glyphicon.glyphicon-map-marker
                            input#location.form-control(type="text", ng-model='user.location', ng-init="user.location = '#{user.location}'", placeholder="Location")
                    button.btn.btn-primary.btn-block(type="submit") Update Profile
            .col-lg-6
                .text-center
                    img.img-thumbnail(src="https://secure.gravatar.com/avatar/#{user.gravatar_hash}?s=200")
                    br
                    br
                form#password-form(name='passwordForm', ng-submit='updatePassword()')
                    legend Change Password
                    .form-group
                        label Password
                        input#password.form-control(type="password", ng-model='user.password', ng-init="user.password = ''", placeholder="Password", ng-minlength="6")
                    .form-group
                        label Confirm Password
                        input#confirmPassword.form-control(type="password", ng-model='user.confirmPassword', ng-init="user.confirmPassword = ''", placeholder="Confirm Password", ng-minlength="6")
                    button.btn.btn-warning.btn-block(type="submit") Change Password
