extends ../main/dashboard

block module
    .col-lg-9
        #alerts.row
        #account-container.row.well
            .col-lg-6
                h2 #{user.fullName()}
                dl.dl-horizontal
                    dt Username
                    dd #{user.username}
                    dt Email
                    dd #{user.email}
                    dt Location
                    dd #{user.location}
            .col-lg-6.text-center
                img.img-thumbnail(src="https://secure.gravatar.com/avatar/#{user.gravatarHash()}?s=200")
