extends ../layout

block content
    .container.center
        #alerts.row-fluid
        .row-fluid
            aside.span3
                .well.well-small
                    ul.nav.nav-stacked.nav-pills
                        li
                            a(href="/dashboard") Dashboard
                        li
                            a(href="/account") Account
                        li
                            a(href="/messages") Messages
                .well.well-small
                    h5 Rooms
                    ul.rooms-list.nav.nav-stacked.nav-pills
                .well.well-small
                    h5 Groups
                    ul.groups-list.nav.nav-stacked.nav-pills
                .well.well-small
                    h5 Application Management
                    ul.nav.nav-stacked.nav-pills
                        li
                            a(href="/rooms/manage") Room Management
                        li
                            a(href="/groups/manage") Group Management
                        li
                            a(href="/users/manage") User Management
            block module
                each room in rooms
                    .span9.row-fluid
                        .well.span12
                            span.pull-right
                                i.icon-user
                                |  #{room.clientcount} users connected
                            h4
                                a(href="/room/#{room.slug}") #{room.name}
                            p.span10.
                                #{room.description}
                            a.btn.btn-success.btn-large(href="/room/#{room.slug}") Jump in!

                            hr
                            .pull-left
                                i.icon-calendar
                                span.label.label-info Created on #{room.createdAt}
                            ul.inline.pull-right
                                - if (room.groups && room.groups.length > 0)
                                    each group in room.groups
                                        li
                                            span.label.label-success #{group.name}
                                    li
                                        i.icon-user
                                - else
                                    li Public&nbsp;
                                        i.icon-globe
                            .clearfix
