extends ../main/dashboard

block module
    .col-lg-9
        #alerts.row.col-lg-12
        .row.well
            .lead Room Management
            a.btn.btn-primary(href="#", data-toggle="modal", data-target="#addmodal") <span class="glyphicon glpyhicon-plus"></span> Add Room
            hr
            table.table
                thead
                    th Name
                    th Slug
                    th Description
                    th # Connected
                    th Actions
                tbody#room-table-data
                    each room in rooms
                        tr(data-roomid="#{room.id}")
                            td
                                a(href="/room/#{room.slug}") #{room.name}
                            td.
                                #{room.slug}
                            td.
                                #{room.description}
                            td.
                                #{room.clientcount}
                            td
                                .btn-group
                                    a.btn.btn-edit.btn-default(href="#", data-toggle="modal", data-target="#editmodal") <span class="glyphicon glyphicon-pencil"></span>
                                    a.btn.btn-danger(href="#") <span class="glyphicon glyphicon-trash"></span>

    #addmodal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="addroomLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4#addroomLabel Add a Room
                form#new-form
                    .modal-body
                        .form-group
                            label Room Name
                            input#addroomName.form-control(type="text", placeholder="Room Name", required)
                        .form-group
                            label Description
                            textarea#addroomDesc.form-control(placeholder="Room Description")
                        .form-group
                            label Groups
                            select#addroomGroups.form-control(multiple)

                    .modal-footer
                        button.btn.btn-default(data-dismiss="modal", aria-hidden="true") Cancel
                        button.btn.btn-primary(type="submit") Add Room

    #editmodal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="editroomLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    input#editid(type="hidden")
                    .modal-header
                        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                        h4#editroomLabel Edit a Room
                    form#edit-form
                        .modal-body
                            .form-group
                                label Room Name
                                input#editroomName.form-control(type="text", placeholder="Room Name", required)
                            .form-group
                                label Description
                                textarea#editroomDesc.form-control(placeholder="Room Description")
                            .form-group
                                label Groups
                                select#editroomGroups.form-control(multiple)

                        .modal-footer
                            button.btn.btn-default(data-dismiss="modal", aria-hidden="true") Cancel
                            button.btn.btn-primary(type="submit") Save Changes

block scripts
    script.
        $.get('/groups', function (res) {
            res.groups.forEach(function(group, index, array) {
                $('#addroomGroups').append('<option value="'+group.id+'">'+group.name+'</option>');
            });
        });
        $('.btn-danger').click(function (e) {
            var row = $(this).parents('tr').first();
            var name = row.find('a').first().text();
            var id = row.data('roomid');
            $.ajax({
                url: '/room/'+id,
                type: 'DELETE',
                success: function () {
                    row.remove();
                    $('#alerts').html('<div class="alert alert-success">Room "'+name+'" removed!</div>');
                },
                error: function(res) {
                    $('#alerts').html('<div class="alert alert-danger">Room could not be deleted: '+res.responseJSON.error+'</div>');
                }
            });
        });
        $('.btn-edit').click(function (e) {
            var id = $(this).parents('tr').first().data('roomid');
            $.ajax({
                url: '/room/find/'+id,
                type: 'GET',
                success: function (data) {
                    $('#editroomName').val(data.name);
                    $('#editroomDesc').val(data.description);
                    $('#editid').val(data.id);
                    //TODO: Group handling
                    $('#editmodal').modal('show');
                },
                error: function(res) {
                    $('#alerts').html('<div class="alert alert-danger">Could not edit room: '+res.responseJSON.error+'</div>');
                }

            });
        });
        $('#edit-form').submit(function (e) {
            e.preventDefault();
            var id = $('#editid').val();
            //TODO: Group management
            var data = {
                name: $('#editroomName').val(),
                description: $('#editroomDesc').val()
            };
            $.ajax({
                url: '/room/'+id,
                type: 'PUT',
                data: data,
                success: function (data) {
                    var html = '<td><a href="/room/'+data.slug+'">'+data.name+'</a></td><td>'+data.slug+'</td><td>'+data.description+'</td><td>0</td><td><div class="btn-group"><a class="btn btn-default btn-edit" href="#"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span></a></div></td>';
                    $('#editmodal').modal('hide');
                    $('tr[data-roomid='+data.id+']').html(html);
                },
                error: function(res) {
                    $('#alerts').html('<div class="alert alert-danger">Room could not be updated: '+res.responseJSON.error+'</div>');
                }
            });
        });
        $('#new-form').submit(function (e) {
            e.preventDefault();
            //TODO: Group management
            var data = {
                name: $('#addroomName').val(),
                description: $('#addroomDesc').val(),
                groups: $('#addroomGroups').val()
            };
            $.ajax({
                url: '/room',
                type: 'POST',
                data: data,
                success: function (data) {
                    var html = '<tr data-roomid="'+data.id+'"><td><a href="/room/'+data.slug+'">'+data.name+'</a></td><td>'+data.slug+'</td><td>'+data.description+'</td><td>0</td><td><div class="btn-group"><a class="btn btn-default btn-edit" href="#"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span></a></div></td></tr>';
                    $('#addmodal').modal('hide');
                    $('#room-table-data').append(html);
                },
                error: function(res) {
                    $('#alerts').html('<div class="alert alert-danger">Room could not be created: '+res.responseJSON.error+'</div>');
                }
            });
        });
