extends ../main/dashboard

block module
    .span9.row-fluid
        #alerts.row-fluid.span12
        .row-fluid.well
            .lead Room Management
            a.btn.btn-primary(href="#", data-toggle="modal", data-target="#addmodal") <i class="icon-plus icon-white"></i> Add Room
            hr
            table.table
                thead
                    th Name
                    th Slug
                    th Description
                    th # Connected
                    th Actions
                tbody#room-table-data
                each room in rooms
                    tr(data-roomid="#{room.id}")
                        td
                            a(href="/room/#{room.slug}") #{room.name}
                        td.
                            #{room.slug}
                        td.
                            #{room.description}
                        td.
                            #{room.clientcount}
                        td
                            .btn-group
                                a.btn.btn-edit(href="#") <i class="icon-pencil"></i>
                                a.btn.btn-danger(href="#") <i class="icon-trash icon-white"></i>

    #addmodal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="addroomLabel", aria-hidden="true")
        .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h3#addroomLabel Add a Room
        form#new-form
            .modal-body
                label Room Name
                input#addroomName(type="text", placeholder="Room Name", required)
                label Description
                textarea#addroomDesc(placeholder="Room Description")
                label Groups
                select#addroomGroups(type="multiple")

            .modal-footer
                button.btn(data-dismiss="modal", aria-hidden="true") Cancel
                button.btn.btn-primary(type="submit") Add Room

    #editmodal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="editroomLabel", aria-hidden="true")
        input#editid(type="hidden")
        .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h3#editroomLabel Edit a Room
        form#edit-form
            .modal-body
                label Room Name
                input#editroomName(type="text", placeholder="Room Name", required)
                label Description
                textarea#editroomDesc(placeholder="Room Description")
                label Groups
                select#editroomGroups(type="multiple")

            .modal-footer
                button.btn(data-dismiss="modal", aria-hidden="true") Cancel
                button.btn.btn-primary(type="submit") Save Changes

block scripts
    script.
        $('.btn-danger').click(function (e) {
            var row = $(this).parents('tr').first();
            var name = row.find('a').first().text();
            var id = row.data('roomid');
            $.ajax({
                url: '/room/'+id,
                type: 'DELETE',
                success: function () {
                    row.remove();
                    $('#alerts').html('<div class="alert alert-success span12">Room "'+name+'"" removed!</div>');
                },
                error: function(res) {
                    $('#alerts').html('<div class="alert alert-error span12">Room could not be deleted: '+res.responseJSON.error+'</div>');
                }
            });
        });
        $('.btn-edit').click(function (e) {
            var id = $(this).parents('tr').first().data('roomid');
            $.ajax({
                url: '/room/find/'+id,
                type: 'GET',
                success: function (data) {
                    $('#editroomName').val(data.name);
                    $('#editroomDesc').val(data.description);
                    $('#editid').val(data.id);
                    //TODO: Group handling
                    $('#editmodal').modal('show');
                },
                error: function(res) {
                    $('#alerts').html('<div class="alert alert-error span12">Could not edit room: '+res.responseJSON.error+'</div>');
                }

            });
        });
        $('#edit-form').submit(function (e) {
            e.preventDefault();
            var id = $('#editid').val();
            //TODO: Group management
            var data = {
                name: $('#editroomName').val(),
                description: $('#editroomDesc').val()
            };
            $.ajax({
                url: '/room/'+id,
                type: 'PUT',
                data: data,
                success: function (data) {
                    var html = '<td><a href="/room/'+data.slug+'">'+data.name+'</a></td><td>'+data.slug+'</td><td>'+data.description+'</td><td>0</td><td><div class="btn-group"><a class="btn btn-edit" href="#"><i class="icon-pencil"></i></a><a class="btn btn-danger" href="#"><i class="icon-trash icon-white"></i></a></div></td>';
                    console.log(data);
                    $('#editmodal').modal('hide');
                    $('tr[data-roomid='+data.id+']').html(html);
                },
                error: function(res) {
                    $('#alerts').html('<div class="alert alert-error span12">Room could not be updated: '+res.responseJSON.error+'</div>');
                }
            });
        });
        $('#new-form').submit(function (e) {
            e.preventDefault();
            //TODO: Group management
            var data = {
                name: $('#addroomName').val(),
                description: $('#addroomDesc').val()
            };
            $.ajax({
                url: '/room',
                type: 'POST',
                data: data,
                success: function (data) {
                    var html = '<tr data-roomid="'+data.id+'"><td><a href="/room/'+data.slug+'">'+data.name+'</a></td><td>'+data.slug+'</td><td>'+data.description+'</td><td>0</td><td><div class="btn-group"><a class="btn btn-edit" href="#"><i class="icon-pencil"></i></a><a class="btn btn-danger" href="#"><i class="icon-trash icon-white"></i></a></div></td></tr>';
                    $('#addmodal .close').click();
                    $('#room-table-data').append(html);
                },
                error: function(res) {
                    $('#alerts').html('<div class="alert alert-error span12">Room could not be created: '+res.responseJSON.error+'</div>');
                }
            });
        });
